@model projeto_final.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    int bannersLength = Model.Banners.Count(); // quantidade de banners
    int bannersIdx = 0; // indice de controle 
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i=0; i < bannersLength; i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
        }        
    </ol>

    <div class="carousel-inner" role="listbox">
        @foreach (var banner in Model.Banners)
        {        

            <div class="item @((bannersIdx == 0) ? "active" : "")">
                <img src="~/images/banners/@Html.DisplayFor(modelItem => banner.Imagem)" alt="Banner" class="img-responsive" />
            </div>
            
            bannersIdx += 1;
        }
    </div>
    @if (bannersLength > 1)
    {
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Voltar</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Avançar</span>
        </a>
    }
</div>

<div id="product-list" class="row">
    @foreach (var produto in Model.Produtos)
    {
        <div class="col-sm-3">
            <div class="thumbnail">
                @if (produto.Thumb != null)
                {
                    <img src="~/images/uploads/@Html.DisplayFor(modelItem => produto.Thumb)" alt="Imagem produto">
                }
                else
                {
                    <img src="https://www.placecage.com/230/250" alt="Imagem produto">
                }
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => produto.Nome)</h3>
                    <p>
                        @Html.DisplayFor(modelItem => produto.Descricao)
                    </p>
                    <p class="price">
                        @Html.DisplayFor(modelItem => produto.Preco)
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary buy" role="button">Comprar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
